.nav-container {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: rgb(0, 79, 53);
}

.nav-container a {
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-container a:hover {
    color: bisque;
}